<h1>List of Overdue Books</h1>
{% if overdue_list %}
	<table>
		<ul>
			<tr>
				<th width="20%" align="left">TITLE</th>
				<th width="15%" align="left">AUTHOR</th>
				<th width="15%" align="left">BORROWER</th>
				<th width="20%" align="left">AMOUNT TO BE PAID</th>
			</tr>	
		{% for book in overdue_list %}
			<tr>
				<td width="20%">{{ book.title }}</td>
				<td width="15%">{{ book.author }}</td>
				<td width="15%">{{ book.borrower }}</td>
				<td width="20%">{{ book.amount }}</td>
			</tr>
		{% endfor %}	
	</ul>
	</table>
{% else %}
	<p>No books are available.</p>	
{% endif %}

<a href="{% url 'books' %}">See full list of books.</a><br>
<a href="{% url 'add_book' %}">Add Book</a><br>
<a href="{% url 'borrowerslist' %}">Search for the list of books borrowed by a student</a><br>
<a href="{% url 'index' %}">Go back to the homepage.</a><br>